<!-- <div id="login_container" class="container-fluid">
  <div class="login_left">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>
    </div>
  </div>
  <div class="login_right"></div>
</div> -->
<div class="container-fluid p-0">
  <span style="padding: 5%; cursor: pointer" (click)="back()">
    <mat-icon class="secondary-text s-16">chevron_left</mat-icon>Back</span
  >
  <div class="row no-gutters">
    <h1 style="padding-left: 5%; padding-bottom: 2%">Terms and Conditions</h1>
    <p style="margin-left: 5vw; margin-right: 5vw">
      Conditions - Terms and Conditions
      <br />
      IMPORTANT LEGAL NOTICE
      <br />
      This page lists the general terms and conditions ('www.Foodapp.ch conditions') to which we, Food App. (Food App)
      to offer our services via our website www.Foodapp.ch or our apps. Please read these website terms and conditions
      carefully before using our website, as these terms and conditions apply to the purchase of products that are
      offered on the website. You should be aware that by ordering products through the website (now or in the future)
      you are agreeing to be bound by these website terms of use. Use of the website is also subject to these terms of
      use.We may change these terms from time to time by changing them on this page. These Terms of Use were last
      updated on October 25, 2019. These website terms of use are only available in German.By using the website, you
      agree that you are 18 years of age or older, or have the legal consent of your parent or guardian, and are able
      and competent to comply with and obey the obligations set out in these Terms of Use.Please understand that if you
      do not accept these website terms of use, you cannot order products from our website.
      <br />
      1. Via our online ordering services.<br />
      If you use the website's online ordering functions, the following applies:<br />
      • 1.1 You may only use the website if you are over 18 years of age or are otherwise under the supervision of an
      adult or legal guardian.<br />
      • 1.2 You agree to take full responsibility for all of your activities on our website and for online orders.<br />
      • 1.3 It is your sole responsibility to keep your personal information, your password and your payment details
      confidential.<br />
      Food App reserves the right to refuse the service at any time, to block access to the website or to order online,
      to remove or edit content or to cancel your orders at its own discretion and without notice to you.<br />
      In the event of a dispute, please contact the restaurant directly. If you are referring to a chargeback for online
      payments, contact Food App (info@foodapp.com) directly to resolve the dispute and not the restaurant.<br />

      2. Use of our website<br />
      Food App grants you permission to access its website and / or app in accordance with these Terms of Use, provided
      that you:<br />
      • 2.1. Use the website and / or app only for your personal use.<br />
      • 2.2. Do not copy, distribute or publish any parts of the website and / or app that are not required for the
      intended use of the website and / or app.<br />
      • 2.3. Do not use any automated programs or systems in connection with the Food app website and / or the Food app
      or other online ordering functions.<br />
      • 2.4. Do not collect personally identifiable information from the website and / or app, do not use the
      communication systems provided by the website for commercial advertising purposes, solicit for any reason or
      distribute coupons or codes in connection with the website, or scrape or hack the Website and / or app;<br />
      • 2.5. You comply with the other provisions of these Terms of Use.<br />

      3.Food App does not warrant that your use of the online ordering service, website or app will be interrupted and
      we do not warrant that any information (or communications) transmitted through the online ordering service,
      website or app will be reliable and accurately, timely or at all. The website, app and online ordering services
      provided by Food App are provided 'as is' and may be subject to delays or downtime.<br />

      4.Food App does not guarantee that the online ordering service, website or app will be free from viruses or other
      elements that could damage the technology.<br />

      5.While Food App tries to allow uninterrupted access to the online ordering service, website or app, access to the
      online ordering service, website or app can be blocked and terminated at any time.<br />

      6.All prices are in SFR. Unless otherwise stated, the prices include VAT.<br />

      7.Food App reserves the right to change, replace or announce information or services on the website or in the
      context of the online ordering service from time to time.<br />

      8.While Food App tries to ensure that this website and / or app is generally available 24 hours a day, 7 days a
      week, Food App takes no responsibility for functions that depend on your browser or other third-party software to
      operate (including and not limited to RSS feeds). Food App can also withdraw information from the online ordering
      service, the website or the app at any time.<br />

      9.Food App reserves the right to block access to and / or editing or removal of material that, in our reasonable
      opinion, may lead to a violation of these Terms of Use.<br />
      9.1. Unfortunately, the transmission of information over the Internet is not completely secure. Although Food App
      takes steps to protect your data, we cannot guarantee the security of your data transmitted to the website or app.
      Any transmission is at your own risk.<br />

      10. If you visit our website repeatedly, Food App may occur at some point
    </p>
  </div>
</div>
