// .container {
//   text-align: center;
//   padding: 1rem;
// }

.mat-icon {
  vertical-align: middle;
}
.example-container {
  margin-top: 2vw;
  padding: 20px;
}
.logo-text {
  margin-left: 18px;
}

.search-wrapper {
  width: 100%;
  background-color: white;
  max-width: 206px;
  margin: 2px 23px;
  border-radius: 28px;
  overflow: hidden;
  border: 1px solid rgb(212 212 212);
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  // @include mat-elevation(1);

  // @include media-breakpoint('xs') {
  //     width: 100%;
  // }

  .search {
    width: 100%;
    height: 38px;
    line-height: 48px;
    padding: 0 18px;

    input {
      width: 100%;
      height: 48px;
      min-height: 48px;
      max-height: 48px;
      padding: 0 16px;
      border: none;
      outline: none;
    }
  }
}
.button {
  border-radius: 19px;
  height: 35px;
  width: 83%;
  font-size: 14px;
}
.incomplete_button {
  background: #c255ac;
  border-radius: 19px;
  height: 35px;
  width: 83%;
  color: white;
  font-size: 14px;
}
.refund_button {
  background: #51e7f5;
  border-radius: 19px;
  height: 35px;
  color: white;
  width: 83%;
  font-size: 14px;
}
.product_table table {
  width: 100%;
  box-shadow: none;
}
::ng-deep .product_table thead tr th {
  background: #f9f9f9 !important;
  font-family: "Product Sans";
  font-size: 13px;
}
::ng-deep .product_table tbody tr td {
  font-family: "Product Sans";
  font-size: 13px !important;
}
::ng-deep .product_table tbody tr:hover {
  background: #a6e9b8;
}
::ng-deep .product_table tbody tr:hover td {
  color: #197331 !important;
}
.action_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
::ng-deep .product_table tbody tr:hover td .action_btn a img {
  filter: grayscale(0) !important;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
}
.modal-content {
  margin: 6vw 15vw !important;
  padding: 20px;
}
.modal {
  z-index: 99999999;
}

.modal .addon-wraapper {
  // height: 90vh;
  overflow-y: hidden;
}

.modal-header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 9;
}
.save_btn {
  background: #56cc7e;
  color: #fff;
  display: block;
  width: 63%;
  margin-right: 5vw;
  border: 0;
  border-radius: 50px;
  padding: 7px;
  font-size: 18px;
}
.cancel_btn {
  background: #fff;
  color: black;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 50px;
  padding: 10px;
  font-size: 18px;
}
.modal-title {
}
input[type="text"] {
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}
.discount_tbl,
.discount_head,
.discount_data {
  border: 0px solid black;
  border-collapse: collapse;
}
.discount_head,
.discount_data {
  padding: 5px;
}
.discount_head {
  text-align: left;
}
.close {
  position: absolute;
  top: 1.1vw;
  right: 0;
}
.mat-column-order_no {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-order_date {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.mat-column-order_no {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
