<!-- <div id="login_container" class="container-fluid">
  <div class="login_left">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          
        </div>
      </div>
    </div>
  </div>
  <div class="login_right"></div>
</div> -->
<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-7">
      <div class="left__login_content">
        <img src="../../assets/login/white_logo.png" alt="" />
        <div class="login__left__content">
          <h5>We Are ewayshops</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <span class="copyright"> @ ewayshop 2021, All Rights Reserved. </span>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="right_container" style="height: 150vh; position: relative; background-color: #ffffff">
        <div class="right_content">
          <img src="../../assets/login/logo.png" class="color_logo w-100" alt="eWayShop-logo" />
          <div class="login_form" id="sing_up">
            <h3>Sign Up</h3>
            <p>Welcome Back, Please Signup to your account</p>
            <div class="form_errors">
              <span *ngIf="submitted && f.branch_name.errors?.required" class="error"
                >Store Name field is required</span
              >
              <span *ngIf="submitted && f.name.errors?.required" class="error">Name is required</span>
              <span *ngIf="submitted && f.email.errors?.required" class="error">Email is required</span>
              <span *ngIf="submitted && f.email.errors?.email" class="error">Please enter the valid email address</span>
              <span *ngIf="submitted && f.phoneno.errors?.required" class="error">Phone no is required</span>
              <span *ngIf="submitted && f.location.errors?.required" class="error">Location is required</span>
              <span *ngIf="submitted && f.zipcode.errors?.required" class="error">Zipcode is required</span>
              <span *ngIf="submitted && f.city.errors?.required" class="error">City is required</span>
              <span *ngIf="submitted && f.state.errors?.required" class="error">State is required</span>
              <span *ngIf="submitted && f.terms.errors?.required" class="error">Accept terms and conditions</span>
            </div>

            <form class="login-form" [formGroup]="signup_form" (ngSubmit)="signup()">
              <mat-form-field class="login-full-width">
                <mat-label>Store Name</mat-label>
                <input
                  matInput
                  value=""
                  formControlName="branch_name"
                  (keypress)="omit_special_char($event)"
                  [ngClass]="{ 'is-invalid': submitted && f.branch_name.errors }"
                />
              </mat-form-field>
              <mat-form-field class="login-full-width">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  value=""
                  formControlName="name"
                  (keypress)="omit_special_char($event)"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                />
              </mat-form-field>
              <mat-form-field class="login-full-width">
                <mat-label>Email </mat-label>
                <input
                  matInput
                  value=""
                  formControlName="email"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                />
              </mat-form-field>

              <mat-form-field class="login-full-width password_field">
                <mat-label>PhoneNo</mat-label>
                <div class="input-group-prepend">
                  <div class="input-group-text">+1</div>
                  <input
                    matInput
                    value=""
                    [(ngModel)]="phone_no"
                    maxlength="15"
                    formControlName="phoneno"
                    [ngClass]="{ 'is-invalid': submitted && f.phoneno.errors }"
                  />
                </div>
              </mat-form-field>
              <mat-form-field class="login-full-width">
                <mat-label>Location </mat-label>
                <input
                  type="text"
                  #search
                  (keydown.enter)="$event.preventDefault()"
                  [(ngModel)]="address"
                  id="searchTextField1"
                  matInput
                  formControlName="location"
                  [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
                />
              </mat-form-field>
              <mat-form-field class="login-full-width password_field">
                <mat-label>Zipcode</mat-label>
                <input
                  matInput
                  value=""
                  type="text"
                  maxlength="15"
                  formControlName="zipcode"
                  (keypress)="omit_special_char($event)"
                  [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }"
                />
              </mat-form-field>
              <mat-form-field class="login-full-width password_field">
                <mat-label>City</mat-label>
                <input
                  matInput
                  value=""
                  maxlength="15"
                  formControlName="city"
                  [ngClass]="{ 'is-invalid': submitted && f.city.errors }"
                />
              </mat-form-field>
              <mat-form-field class="login-full-width password_field">
                <mat-label>state</mat-label>
                <input
                  matInput
                  value=""
                  maxlength="15"
                  formControlName="state"
                  [ngClass]="{ 'is-invalid': submitted && f.state.errors }"
                />
              </mat-form-field>
              <p class="footer_link">
                <input
                  type="checkbox"
                  name="sendemail"
                  formControlName="terms"
                  [ngClass]="{ 'is-invalid': submitted && f.terms.errors }"
                />
                By signing up I agree to the
                <a href="javascript:void(0);" class="forget-link" (click)="termandconditions()">Terms and conditions</a>
                and
                <a href="javascript:void(0);" class="forget-link" (click)="privacy()"> Privacy policy</a>
              </p>

              <div class="login_btn_container">
                <button type="button" (click)="signup()" class="login_btn">Signup</button>
                <p class="footer_link">
                  Already have an account?
                  <a href="javascript:void(0);" [routerLink]="['/login']" class="forget-link">Login</a>
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
