@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}

/*  CUSTOM LOGIN DESIGN   */
div#login_container {
  width: 100%;
  max-width: 100%;
}
.left__login_content {
  background: url("/assets/login/login_bg.png");
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.left__login_content {
  padding-top: 13%;
  padding-left: 10%;
}
.left__login_content img {
  width: 100%;
  max-width: 250px;
}
.login__left__content {
  position: absolute;
  top: 50%;
  color: #ffffff;
  font-family: "Product Sans";
  font-weight: normal;
}
.login__left__content h5 {
  font-size: 40px;
}
.login__left__content {
  width: 100%;
  max-width: 440px;
}
.login__left__content p {
  font-size: 18px;
}
.login__left__content span {
  display: block;
  position: absolute;
  padding-top: 140px;
  font-size: 18px;
}
.color_logo {
  max-width: 200px;
  margin-left: -10px;
}
.right_content {
  padding: 100px 65px;
}
.login_form h3 {
  color: #000000;
  font-size: 28px;
  font-family: "Product Sans";
  margin-top: 40px;
}
.login_form {
  font-family: "Product Sans";
}
.login_form p {
  color: #818181;
  font-size: 18px;
  width: 100%;
  max-width: 100%;
}
.login_btn {
  background: #000000;
  color: #ffffff;
  border: solid 2px #000000 !important;
}
.cancel_btn {
  background: #ffffff;
  color: #000000;
  border: solid 2px #000000 !important;
}
.login_btn:hover {
  background: #ffffff;
  color: #000000;
}
.sign_btn:hover {
  background: #000000;
  color: #ffffff;
}
.sign_btn {
  background-color: #ffffff;
  color: #000000;
  border: solid 2px #000000 !important;
}
.login_btn_container button {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  border: 0;
  width: 100%;
  max-width: 145px;
  padding: 10px 0;
  margin-right: 16px;
  transition: all 0.4s ease-in-out;
}
.login-form mat-form-field.mat-form-field.login-full-width {
  width: 380px;
  padding: 0 10px;
  box-shadow: 0px 6px 16px 0 rgb(71 71 71 / 9%);
  border: solid 0.3px rgba(71, 71, 71, 0.09);
  background-color: #ffffff;
}
.login-form mat-form-field.mat-form-field.login-full-width.password_field {
  border-top: 0 !important;
}
::ng-deep {
  .mat-form-field-underline {
    display: none;
  }
  .login-form .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0 !important;
  }
  .login-form .mat-form-field-infix {
    border-top: 0;
  }
  .login-form .mat-form-field-label-wrapper {
    top: -5px;
  }
  .login-form .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 15px;
  }
  mat-form-field.mat-form-field.login-full-width {
    width: 100%;
    max-width: 330px;
  }
  .mat-form-field-should-float .mat-form-field-label {
    margin-top: 10px;
  }
  .login-form .mat-input-element {
    color: #000000 !important;
    font-family: Lato;
    font-size: 15px;
    font-weight: bold;
  }
  .login-form .mat-focused {
    position: relative;
  }
  .login-form .mat-focused:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: #81e739;
  }
  label.mat-form-field-label {
    color: #8b8b8b !important;
    font-family: Lato;
    font-size: 13px;
    margin-top: 4px;
  }
  .forget-link {
    display: block;
    color: #000000;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin: 10px 0;
  }
  .forget-link:hover {
    color: #000000;
    text-decoration: none;
  }
  .form_errors .error {
    color: #ff7b7b;
    font-family: Lato;
    font-size: 15px;
    margin-top: -10px;
    display: block;
    margin-bottom: 10px;
  }
}

button.login_btn {
  margin-top: 20px;
}
.sucess_msg img {
  width: 35px;
  margin-right: 10px;
}
.sucess_msg h3 {
  margin-top: 0;
}
.sucess_msg p {
  font-size: 16px;
}
.sucess_msg {
  margin-top: 20px;
}

@media only screen and (max-width: 580px) {
  .login_btn_container button {
    margin-right: 0;
    max-width: 100%;
    margin-top: 15px;
  }
  .right_container {
    height: auto !important;
  }
  .login_form h3 {
    margin-top: 20px;
  }
  .color_logo {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .right_content {
    padding: 20px 0;
    width: 85%;
    margin: 0 auto;
    max-width: 100%;
  }

  .login__left__content {
    position: static;
    left: 0;
    width: 90% !important;
    margin: 0 auto !important;
    text-align: center;
    right: 0;
    max-width: 100%;
    padding: 0;
  }
  form.login-form .mat-form-field {
    width: 100% !important;
  }
  .left__login_content {
    padding: 0;
  }
  .login__left__content span {
    position: static;
    padding-top: 0;
    padding-bottom: 20px;
  }
  .left__login_content {
    height: 100%;
  }
  .login__left__content h5 {
    font-size: 32px;
    padding-top: 20px;
  }
  .left__login_content img {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
  }
}

@media only screen and (min-width: 1400px) {
  .container-fluid {
    width: 100%;
    max-width: 1920px !important;
  }
}
