/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/src/material-design-icons";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Theme customization
@import "theme/theme";

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/ProductSans-Regular.woff2") format("woff2"),
    url("./assets/fonts/ProductSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/ProductSans-Bold.woff2") format("woff2"),
    url("./assets/fonts/ProductSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/ProductSans-BoldItalic.woff2") format("woff2"),
    url("./assets/fonts/ProductSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Product Sans";
  src: url("./assets/fonts/ProductSans-Italic.woff2") format("woff2"),
    url("./assets/fonts/ProductSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.active:hover {
  color: #81e739;
}
.cdk-overlay-container {
  z-index: 999999 !important;
}
.timepicker-backdrop-overlay {
  z-index: 999999 !important;
}
.timepicker-overlay {
  z-index: 999999 !important;
}
.body {
  font-family: "Product Sans" !important;
}
.mat-sort-header-content {
  text-align: initial !important;
}
