<div
  class="header accent"
  style="display: flex; place-content: center space-between; align-items: center; margin-top: 2vw"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayout.gt-xs="row"
  fxLayoutAlign.gt-xs="space-between center"
>
  <!-- APP TITLE -->
  <div class="logo mb-24 mb-sm-0" style="display: flex" fxLayout="row" fxLayoutAlign="start center">
    <span class="logo-text h3 heading" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
      >Notifications
    </span>

    <div class="delete_icon" (click)="delete_btn()" *ngIf="GetNotification.length > 0">
      <mat-icon>delete</mat-icon>
    </div>
    <span class="delete_text" *ngIf="GetNotification.length > 0">Delete</span>
  </div>
</div>
<div class="container p-0 notification_div" style="height: 600px; overflow-y: scroll">
  <div class="row no-gutters">
    <div class="col-md-12" *ngIf="GetNotification.length > 0">
      <div _ngcontent-dtd-c223="" class="help-box" *ngFor="let notify of GetNotification">
        <div _ngcontent-dtd-c223="" class="row">
          <div _ngcontent-dtd-c223="" class="col">
            <p _ngcontent-dtd-c223="" class="order_desc">
              <!-- You order has been received
              <span style="cursor: pointer" [routerLink]="['/orders/view-orders', notify.order_id]"
                >{{ notify.order_id }} </span
              > -->
              <span style="cursor: pointer" [routerLink]="['/orders/view-orders', notify.order_id]"
                >{{ notify.desc }}
              </span>
              at {{ notify.created_on }} ago
            </p>

            <p style="display: flex; align-items: center">
              <mat-icon style="margin-top: 8px; margin-right: 10px"> person_pin</mat-icon
              ><span> : {{ notify.customer_name }} </span>
              <mat-icon style="margin-left: 20px; margin-top: 8px; margin-right: 10px">phone_in_talk</mat-icon> :
              {{ notify.phone_no }}
            </p>
            <!-- <p style="display: flex;align-items: center;">
              <mat-icon style="margin-top: 8px;margin-right: 10px;">phone_in_talk</mat-icon> : {{notify.phone_no}} 
            </p> -->
          </div>
          <input type="checkbox" class="check_box" (change)="onCheckboxChange($event, notify.id)" />
        </div>
      </div>
    </div>

    <div
      class="col-md-12"
      *ngIf="GetNotification.length == 0"
      style="margin-top: 16%; font-size: 21px; font-weight: 600; margin-left: 34%"
    >
      <span>No data available !</span>
    </div>
  </div>
</div>
