.help-box {
  position: relative;
  margin: 11px 0px 0px 41px;
  padding: 10px 33px;
  width: 90%;
  background: white;

  color: black;
}
.delete_icon {
  margin-left: 46.3vw;
  cursor: pointer;
}
.delete_text {
  cursor: pointer;
}
.check_box {
  width: 23px;
  height: 45px;
  margin: 0vw 3vw;
}
.order_desc {
  font-size: 16px;
  font-weight: 500;
}
.order_id {
  font-size: 16px;

  color: green;
}
.order_date {
  color: #d1cbcb;
  font-size: 15px;
}
.heading {
  padding-left: 3vw;
}
